# Environment Variables
.env
.env.*
!.env.example

# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Uploads
uploads/

# Node
node_modules/
dist/
dist-ssr/

# IDE
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log